@font-face {
  font-family: 'SassoonSansStd';
  src: url("/profiles/fonts/SassoonSansStd.eot");
  /* For IE */
  src: local('SassoonSansStd'), url("/profiles/fonts/SassoonSansStd.ttf") format('truetype'), url("/profiles/fonts/SassoonSansStd.svg") format('svg');
  /* For all other web browsers */
  font-weight: normal;
  font-style: normal;
}
a {
  font-weight: bold;
}
body div a:active {
  color: #ea566b;
  text-decoration: none;
}
a:link {
  color: #aaa;
/*#be56ea*/
  text-decoration: none;
}
body a:hover {
  text-decoration: underline;
}
a:visited {
  color: #aaa;
  text-decoration: none;
}
a img {
  border: none;
}
p {
  margin-bottom: 15px;
}
ul {
  margin-left: 40px;
}
li {
  margin-bottom: 15px;
}
dt {
  color: #888;
  font-weight: bold;
  margin-bottom: 5px;
}
dd {
  margin: 0px 0px 15px 40px;
}
* {
  margin: 0px;
  padding: 0px;
}
body {
  background: #fff;
  font-family: 'SassoonSansStd', sans-serif;
  font-size: 16pt;
}
#contentColumn {
  margin: 0px auto;
  padding-left: 100px;
  width: 800px;
}
#contentColumn>* {
  clear: both;
}
#banner {
  position: relative;
  float: right;
  margin: 0px auto;
  width: 700px;
}
#titleCircle {
  position: absolute;
  left: -300px;
  top: -50px;
  height: 300px;
  width: 300px;
}
#titleCircle img {
  position: absolute;
  left: 0px;
  top: -px;
  height: 100%;
  width: 100%;
}
#titleCircle h1 {
  position: absolute;
  left: 0px;
  top: 80px;
  color: #fff;
  font-size: 42pt;
  font-weight: bold;
  text-align: center;
  width: 100%;
}
#ribbon {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 140px;
}
#ribbon img {
  width: 100%;
}
#internalLinks {
  margin-top: 150px;
  width: 100%;
}
#internalLinks li {
  display: block;
  float: left;
  font-size: 16pt;
  text-align: center;
  width: 20%;
}
#mainArea {
  border-top-style: solid;
  border-top-width: 8px;
  margin: 0px auto;
  width: 100%;
}
#mainArea h1 {
  color: #888;
  font-size: 32pt;
  font-weight: bold;
  margin: 40px 0px 30px 80px;
  text-align: left;
}
footer {
  font-size: 12pt;
  font-style: italic;
  margin-top: 70px;
  text-align: center;
}
body a:hover {
  color: #ffb19f;
}
#mainArea {
  border-top-color: #ffb19f;
}
#forkMeOnGitHubRibbon {
  display: none;
}
