- var currentVersion = '?v=1.0.1';
- var BASE_DIR = '/dancing-spokes';

doctype html
html(lang='en')
  head
    title
      | Dancing Spokes
    meta(charset='utf-8')
    meta(name='description', content='Dancing sticks of light!')
    link(rel='shortcut icon', href='#{BASE_DIR}/images/favicon.ico#{currentVersion}')
  body
    script(src='#{BASE_DIR}/scripts/dancingSpokes.js#{currentVersion}')
    script(src='/home/scripts/googleanalytics.js')
