<!DOCTYPE html>
<html lang="en">
  <% var baseDir = '/dancing-spokes'; %>
  <% var cacheBuster = '.v1.0.2'; %>

  <head>
    <title>Dancing Spokes</title>
    <meta charset="utf-8">
    <meta name="description" content="Dancing sticks of light!">
    <link rel="shortcut icon" href="<%= baseDir %>/images/favicon<%= cacheBuster %>.ico">
  </head>
  
  <body>
    <script src="<%= baseDir %>/scripts/dancingSpokes<%= cacheBuster %>.js"></script>

    <script><%= analyticsScript %></script>
  </body>
</html>