<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Jackie Lindsey&apos;s webpage</title>
    <meta charset="utf-8">
    <meta name="description" content="Jackie and Levi Lindsey&amp;apos;s personal website">
    <link rel="shortcut icon" href="/profiles/images/favicon.ico?v=1.0.1">
    <link rel="stylesheet" href="/profiles/styles/jackieProfile.css?v=1.0.1">
  </head>
  <body><span id="forkMeOnGitHubRibbon"><a href="https://github.com/levisl176?tab=repositories" target="_blank">Fork me on GitHub!</a></span>
    <div id="contentColumn">
      <header id="banner">
        <div id="titleCircle"><img src="/profiles/images/jackie_circle.png?v=1.0.1" alt="Circle">
          <h1>Jackie<br>Lindsey</h1>
        </div><a id="ribbon" href="http://mlmlblog.wordpress.com/"><img src="/profiles/images/jackie_ribbon.png?v=1.0.1" alt="Check out Jackie's latest blog post!"></a>
        <nav id="internalLinks">
          <ul>
            <li><a href="/jackie/about">About</a></li>
            <li><a href="/jackie/projects">Projects</a></li>
            <li><a href="/jackie/resume">Resume</a></li>
            <li><a href="/jackie/follow">Follow Me</a></li>
            <li><a href="/jackie/../">J &amp; L Home</a></li>
          </ul>
        </nav>
      </header>
      <div id="mainArea">
        <section>
          <h1>Projects</h1>
          <dl>
            <dt>Sea otter (Enhydra lutris nereis) use of the estuarine habitat of Elkhorn Slough, CA. (2013-present)</dt>
            <dd>Masters thesis work with UCSC, USGS, and the Monterey Bay Aquarium.</dd>
            <dt>Foraging ecology of gray whales (Eschrichius robustus) in Washington state. (2011-2012)</dt>
            <dd>Capstone research project with the University of Washington and NMFS.</dd>
          </dl>
        </section>
        <section>
          <h1>Work Experience</h1>
          <dl>
            <dt>UW Armbrust Lab: January 2011-March 2012</dt>
            <dd>Biological Oceanography work with flow-cytometry and R programming</dd>
            <dt>NOAA’s National Marine Mammal Laboratory: Summer 2011</dt>
            <dd>Intern with wildlife biologist Pat Gearin on gray whale projects</dd>
            <dt>Undergraduate TA for Honors Biology: September-December 2011</dt>
            <dd>Lead small group discussion of current scientific work</dd>
            <dt>UW Applied Physics Laboratory: January-June 2012</dt>
            <dd>EndNote database creation and management</dd>
            <dt>Seattle Aquarium: March-August 2012</dt>
            <dd>Interpretation supervisor: managing volunteer shifts, giving presentations to the public</dd>
            <dt>MLML Stranding Network Coordinator: September 2012-present</dt>
            <dd>Responding to calls from citizens and experts to record data on stranded marine mammals</dd>
          </dl>
        </section>
      </div>
      <footer>Site last updated: 
        <time datetime="2014-7-12" pubdate>3/29/2014</time>
      </footer>
      <script src="/home/scripts/googleanalytics.js"></script>
      <script src="/profiles/scripts/params.js?v=1.0.1"></script>
      <script src="/profiles/scripts/log.js?v=1.0.1"></script>
      <script src="/profiles/scripts/util.js?v=1.0.1"></script>
      <script src="/profiles/scripts/index.js?v=1.0.1"></script>
    </div>
  </body>
</html>