extends jackieLayout

block content
  section
    h1
      | Projects
    dl
      dt
        | Sea otter (Enhydra lutris nereis) use of the estuarine habitat of Elkhorn Slough, CA. (2013-present)
      dd
        | Masters thesis work with UCSC, USGS, and the Monterey Bay Aquarium.
      dt
        | Foraging ecology of gray whales (Eschrichius robustus) in Washington state. (2011-2012)
      dd
        | Capstone research project with the University of Washington and NMFS.

  section
    h1
      | Work Experience
    dl
      dt
        | UW Armbrust Lab: January 2011-March 2012
      dd
        | Biological Oceanography work with flow-cytometry and R programming
      dt
        | NOAA’s National Marine Mammal Laboratory: Summer 2011
      dd
        | Intern with wildlife biologist Pat Gearin on gray whale projects
      dt
        | Undergraduate TA for Honors Biology: September-December 2011
      dd
        | Lead small group discussion of current scientific work
      dt
        | UW Applied Physics Laboratory: January-June 2012
      dd
        | EndNote database creation and management
      dt
        | Seattle Aquarium: March-August 2012
      dd
        | Interpretation supervisor: managing volunteer shifts, giving presentations to the public
      dt
        | MLML Stranding Network Coordinator: September 2012-present
      dd
        | Responding to calls from citizens and experts to record data on stranded marine mammals
