<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Levi Lindsey&apos;s webpage</title>
    <meta charset="utf-8">
    <meta name="description" content="Jackie and Levi Lindsey&amp;apos;s personal website">
    <link rel="shortcut icon" href="/profiles/images/favicon.ico?v=1.0.1">
    <link rel="stylesheet" href="/profiles/styles/leviProfile.css?v=1.0.1">
  </head>
  <body><span id="forkMeOnGitHubRibbon"><a href="https://github.com/levisl176?tab=repositories" target="_blank">Fork me on GitHub!</a></span>
    <div id="contentColumn">
      <header id="banner">
        <div id="titleCircle"><img src="/profiles/images/levi_circle.png?v=1.0.1" alt="Circle">
          <h1>Levi<br>Lindsey</h1>
        </div><a id="ribbon" href="/wedding/photos"><img src="/profiles/images/levi_ribbon.png?v=1.0.1" alt="Check out Jackie and Levi's wedding photos!"></a>
        <nav id="internalLinks">
          <ul>
            <li><a href="/levi/about">About</a></li>
            <li><a href="/levi/projects">Projects</a></li>
            <li><a href="/levi/resume">Resume</a></li>
            <li><a href="/levi/follow">Follow Me</a></li>
            <li><a href="/levi/../">J &amp; L Home</a></li>
          </ul>
        </nav>
      </header>
      <div id="mainArea">
        <section>
          <h1>Resume</h1>
          <p>Here is Levi&apos;s&nbsp;<a href="/profiles/documents/levi_resume.pdf">resume</a>.</p>
        </section>
      </div>
      <footer>Site last updated: 
        <time datetime="2014-7-12" pubdate>3/29/2014</time>
      </footer>
      <script src="/home/scripts/googleanalytics.js"></script>
      <script src="/profiles/scripts/params.js?v=1.0.1"></script>
      <script src="/profiles/scripts/log.js?v=1.0.1"></script>
      <script src="/profiles/scripts/util.js?v=1.0.1"></script>
      <script src="/profiles/scripts/index.js?v=1.0.1"></script>
    </div>
  </body>
</html>