footer
  | Site last updated: 
  time(datetime='2014-2-22', pubdate)
    | 2/22/2014

script(src='/scripts/googleanalytics.js')
script(src='#{BASE_DIR}/scripts/params.js')
script(src='#{BASE_DIR}/scripts/log.js')
script(src='#{BASE_DIR}/scripts/util.js')
script(src='#{BASE_DIR}/scripts/index.js')
