extends jackieLayout

block content
  section
    h1
      | Resume
    p
      | Here is Jackie&apos;s&nbsp;
      a(href='/profiles/documents/jackie_resume.doc')
        | resume
      | .
