extends leviLayout

block content
  section
    h1
      | Follow Levi
    ul
      li
        a(href='https://github.com/levisl176', target='_blank')
          | GitHub
      li
        a(href='http://codepen.io/levisl176', target='_blank')
          | CodePen
      li
        a(href='http://www.linkedin.com/in/levisl176', target='_blank')
          | LinkedIn
      li
        a(href='http://facebook.com/levisl176', target='_blank')
          | Facebook
      li
        a(href='https://plus.google.com/u/0/101946132546287006994/posts/p/pub', target='_blank')
          | Google+
      li
        a(href='http://www.reverbnation.com/levilindsey', target='_blank')
          | Reverb Nation
      li
        a(href='http://www.rainydayukes.com', target='_blank')
          | Rainy Day Ukes