extends leviLayout

block content
  section
    h1
      | Projects
    p
      | You can find most of these projects on&nbsp;
      a(href='https://github.com/levisl176', target='_blank')
        | GitHub
      | . Also, many of them can be found on&nbsp;
      a(href='http://codepen.io/levisl176', target='_blank')
        | CodePen
      | .
    dl
      dt
      | Web App: Photo Viewer (2014)
      dd
        | Levi built&nbsp;
        a(href='/wedding/photos')
          | this super-fancy photo-viewer web app
        |  in order to show off all of the photos from his and Jackie&apos;s wedding. Built from scratch, this project makes extensive use of XHR2, CSS3, and HTML5 functionalities.
      dt
        | Web App: Web "Doodle" (2014)
      dd
        | Levi built&nbsp;
        a(href='/metabounce')
          | this web app
        |  as a fun little side project; let's call it a doodle. In it, Levi explores balls, bouncing, color, iridescence, and just how much fun it can be to pop things. This project is built from scratch using JavaScript and SVG.
      dt
        | Web App: Tile-Matching Puzzle Game (2013)
      dd
        a(href='/squared-away')
          | This web app
        |  gave Levi the opportunity to hone his web development skills and to learn the latest features of HTML5/CSS3. On the front end, Levi uses pure JavaScript without external libraries like jQuery--with the notable exception of SoundJS. On the server side, Levi used Node.js with ExpressJS.
      dt
        | Web App: Chess Game (2013)
      dd
        a(href='/chess')
          | This web app
        |  implements a simple two-player game of chess. Levi developed this app in a day. It includes a button to generate a random valid play for the current player. It currently does not play a game between remote machines, but Levi plans on implementing this in the future. It currently does not support an AI player, but Levi also plans on implementing a simple form of this in the future.
      dt
        | Sketch Recognition (2013)
      dd
        | Levi developed a novel algorithm for real-time gesture recognition from ink data. This was extended from work done in a UCR course on Pen-Based Computing algorithms and techniques.
      dt
        | Web App: Wedding Invite/RSVP (2012)
      dd
        a(href='/wedding')
          | This website
        |  was used as the invite, RSVP system, and source of general information for Jackie and Levi&apos;s wedding.
      dt
        | Business Website: Rainy Day Ukes
      dd
        a(href='http://rainydayukes.com', target='_blank')
          | This website
        |  serves as the website for his friend’s web-based handmade ukulele business. It is cross-browser compatible, and is written by hand in PHP and JavaScript (with jQuery).
      dt
        | Android App: Blind-Accessible Navigation (2011)
      dd
        | In the UW CS accessibility capstone course (CSE 481h) Levi co-developed a route-orienting application which would guide a blind user via vibrational feedback. This application would first geocode the user&apos;s current location and a user-entered destination and then query the Google Directions API for a route from the one to the other. This route was then displayed on a map with the user’s current location. The user could then rotate the phone around, and the phone would vibrate when pointed in the direction of the current step in the user&apos;s route. This involved the creation of a completely novel blind-accessible soft keyboard in addition to the implementation of a database for storing previously entered destinations. The PhoneWand code is open source and online at:&nbsp;
        a(href='http://code.google.com/p/mobileaccessibility/source/browse/#svn%2Ftrunk%2FPhoneWand', target='_blank')
          | http://code.google.com/p/mobileaccessibility/source/browse/#svn%2Ftrunk%2FPhoneWand
        | .

  section
    h1
      | Work Experience
    dl
      dt
        | Anvato &mdash; Software Engineer &mdash; 2013-2014
      dd
        a(href='http://anvato.com', target='_blank')
          | Anvato
        |  is a startup working with web video. At Anvato, Levi was hired as a front-end JavaScript developer. He actually developed HLS video player SDKs for the HTML5, Windows Store and Phone, Roku, and Android platforms. The HTML5 player SDK loads and plays four  times faster than that of Anvato’s leading competitor. The combined Anvato player SDKS drew more than 528,000 viewers per minute during the 2014 SuperBowl, making it the most-viewed single sports event delivered online.
      dt
        | University of California, Riverside &mdash; Graduate Student Researcher &mdash; 2011-2013
      dd
        | At UCR, Levi worked with Professor&nbsp;
        a(href='http://www.engr.ucr.edu/faculty/me/stahovich.html', target='_blank')
          | Tom Stahovich
        |  in the&nbsp;
        a(href='http://smarttools.engr.ucr.edu/', target='_blank')
          | Smart Tools lab
        | .  Levi led the development of pair of a statics tutorial systems which were used in undergraduate classes to help students tackle the difficult tasks of constructing free-body diagrams and deriving their corresponding equilibrium equations. The first version of this system runs on tablet computers with a standard computer interface, and the other runs on&nbsp;
        a(href='http://livescribe.com', target='_blank')
          | Livescribe smartpens
        |  with specially designed paper worksheets.  Here is his&nbsp;
        a(href='http://escholarship.org/uc/item/40r3k5v2', target='_blank')
          | Master&apos;s thesis
        |  discussing this research.
      dt
        | University of California, Riverside &mdash; Teaching Assistant &mdash; 2012-2013
      dd
        | At UCR, Levi taught two courses for two quarters each. The first was Introduction to Computer Science and the second was Software Construction.
      dt
        | VoiceBox Technologies &mdash; Software Developer Intern &mdash; 2011
      dd
        | Levi spent the summer of 2011 as an intern at&nbsp;
        a(href='http://voicebox.com/', target='_blank')
          | VoiceBox Technologies
        |  in Bellevue, Washington, where he implemented a noise suppression algorithm and incorporated noise suppression functionality into VBT's original voice activity detection module.
      dt
        | University of Washington, Seattle &mdash; Undergraduate Researcher &mdash; 2010-2011
      dd
        | During his undergraduate studies at UW, Levi spent more than a year working with Professor&nbsp;
        a(href='http://ee.washington.edu/faculty/mamishev/', target='_blank')
          | Alexander Mamishev
        |  in the&nbsp;
        a(href='http://ee.washington.edu/research/seal/', target='_blank')
          | Sensors Energy and AutomationLaboratory
        | . The lab had been hired by the&nbsp;
        a(href='http://fhcrc.org/', target='_blank')
          | Fred Hutchinson Cancer Research Center
        |  to create a Dietary Data Recording device which would better record the dietary intake of their study participants. The lab&apos;s work revolved around the development of an application that was run on Android devices. Levi was originally the sole developer for this, and some of the application&apos;s functionalities include: recording accelerometer and magnetometer measurements and associating them with individual video frames in order to analyze the volume of some food; firing a laser grid via an external, custom-made, Bluetooth-compatible device; recording and playing audio and video; scanning barcodes; uploading and downloading data from the databases on our server; recording dietary info in an SQLite database; parsing SQL data to and from an XML file.  Here is an article Levi co-authored on this research:&nbsp;
        a(href='http://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=5766890&isnumber=5766834', target='_blank')
          | A Pervasive Dietary Data Recording System
        | .
