<!DOCTYPE html>
<html lang="en">
  <% var baseDir = '/metabounce'; %>
  <% var cacheBuster = '.v1.0.2'; %>

  <head>
    <title>MetaBounce</title>
    <meta charset="utf-8">
    <meta name="description" content="Fun with JavaScript...and bouncing">
    <link rel="shortcut icon" href="<%= baseDir %>/res/images/favicon<%= cacheBuster %>.ico">
  </head>
  
  <body>
    <script src="<%= baseDir %>/src/scripts/constants<%= cacheBuster %>.js"></script>
    <script src="<%= baseDir %>/src/scripts/util<%= cacheBuster %>.js"></script>
    <script src="<%= baseDir %>/src/scripts/colorShifter<%= cacheBuster %>.js"></script>
    <script src="<%= baseDir %>/src/scripts/touchAnimator<%= cacheBuster %>.js"></script>
    <script src="<%= baseDir %>/src/scripts/ballHandler<%= cacheBuster %>.js"></script>
    <script src="<%= baseDir %>/src/scripts/metaBounce<%= cacheBuster %>.js"></script>
    <script src="<%= baseDir %>/src/scripts/parameter-profiles/params-Bubble<%= cacheBuster %>.js"></script>
    <script src="<%= baseDir %>/src/scripts/parameter-profiles/params-Gravity<%= cacheBuster %>.js"></script>
    <script src="<%= baseDir %>/src/scripts/parameter-profiles/params-Growth<%= cacheBuster %>.js"></script>
    <script src="<%= baseDir %>/src/scripts/parameter-profiles/params-MetaBounceDependent<%= cacheBuster %>.js"></script>
    <script src="<%= baseDir %>/src/scripts/parameter-profiles/params-MetaBounceIndependent<%= cacheBuster %>.js"></script>
    <script src="<%= baseDir %>/src/scripts/parameter-profiles/params-MetaBubble<%= cacheBuster %>.js"></script>
    <script src="<%= baseDir %>/src/scripts/parameter-profiles/params-Resistance<%= cacheBuster %>.js"></script>
    <script src="<%= baseDir %>/src/scripts/parameter-profiles/params-Squish<%= cacheBuster %>.js"></script>
    <script src="<%= baseDir %>/src/scripts/parameter-profiles/params-Swarm<%= cacheBuster %>.js"></script>
    <script src="<%= baseDir %>/src/scripts/parameter-profiles/params-TouchOfDeath<%= cacheBuster %>.js"></script>

    <script src="<%= analyticsScriptPath %>"></script>
  </body>
</html>