<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Jackie Lindsey&apos;s webpage</title>
    <meta charset="utf-8">
    <meta name="description" content="Jackie and Levi Lindsey&amp;apos;s personal website">
    <link rel="shortcut icon" href="/profiles/images/favicon.ico?v=1.0.1">
    <link rel="stylesheet" href="/profiles/styles/jackieProfile.css?v=1.0.1">
  </head>
  <body><span id="forkMeOnGitHubRibbon"><a href="https://github.com/levisl176?tab=repositories" target="_blank">Fork me on GitHub!</a></span>
    <div id="contentColumn">
      <header id="banner">
        <div id="titleCircle"><img src="/profiles/images/jackie_circle.png?v=1.0.1" alt="Circle">
          <h1>Jackie<br>Lindsey</h1>
        </div><a id="ribbon" href="http://mlmlblog.wordpress.com/"><img src="/profiles/images/jackie_ribbon.png?v=1.0.1" alt="Check out Jackie's latest blog post!"></a>
        <nav id="internalLinks">
          <ul>
            <li><a href="/jackie/about">About</a></li>
            <li><a href="/jackie/projects">Projects</a></li>
            <li><a href="/jackie/resume">Resume</a></li>
            <li><a href="/jackie/follow">Follow Me</a></li>
            <li><a href="/jackie/../">J &amp; L Home</a></li>
          </ul>
        </nav>
      </header>
      <div id="mainArea">
        <section>
          <h1>Follow Jackie</h1>
          <ul>
            <li><a href="http://linkedin.com/pub/jacqueline-lindsey/1a/5a7/533" target="_blank">LinkedIn</a></li>
            <li><a href="https://facebook.com/jackie.schwartzstein" target="_blank">Facebook</a></li>
            <li><a href="http://birdmam.mlml.calstate.edu/current-graduate-students-2/jacqueline-schwartzstein/" target="_blank">Vertebrate Ecology Lab</a></li>
            <li><a href="http://mlmlblog.wordpress.com/" target="_blank">The Drop-In to Moss Landing Marine Labs</a></li>
          </ul>
        </section>
      </div>
      <footer>Site last updated: 
        <time datetime="2014-7-12" pubdate>3/29/2014</time>
      </footer>
      <script src="/home/scripts/googleanalytics.js"></script>
      <script src="/profiles/scripts/params.js?v=1.0.1"></script>
      <script src="/profiles/scripts/log.js?v=1.0.1"></script>
      <script src="/profiles/scripts/util.js?v=1.0.1"></script>
      <script src="/profiles/scripts/index.js?v=1.0.1"></script>
    </div>
  </body>
</html>