extends jackieLayout
block content
  section
    h1
      | About
    p
      | Jackie is a graduate student studying marine vertebrate ecology at&nbsp;
      a(href='http://www.mlml.calstate.edu/', target='_blank')
        | Moss Landing Marine Laboratories (MLML)
      | . Outside of her thesis and coursework, Jackie is a marine mammal stranding network volunteer for the Monterey area, a volunteer for the&nbsp;
      a(href='http://www.montereybayaquarium.org/', target='_blank')
        | Monterey Bay Aquarium
      |  sea otter research program, and editor of the student blog,&nbsp;
      a(href='http://mlmlblog.wordpress.com/', target='_blank')
        | The Drop In
      | .
    p
      | Before moving to California, Jackie studied at the University of Washington in Seattle, where she met her husband. She graduated cum laude with a dual degree in aquatic and fishery science (BS, with honors) and medical anthropology (BA). After graduating, Jackie worked briefly at the&nbsp;
      a(href='http://www.seattleaquarium.org/', target='_blank')
        | Seattle Aquarium
      | , giving public presentations and having a great time learning about the ocean with visitors from all over the world.
    p
      | Jackie grew up near Phoenix, Arizona and spent much of her childhood studying the performing arts (theatre, ballet, voice) at&nbsp;
      a(href='http://www.goasa.org/', target='_blank')
        | Arizona School for the Arts
      |  and&nbsp;
      a(href='http://www.adamsballet.com/', target='_blank')
        | Adams Ballet Academy
      | . Her theatre credits include A Chorus Line, Once On This Island, and many, many seasons of The Nutcracker. While she sometimes misses the spotlight, she is absolutely crazy about her future career in marine science.
    p
      | In her free time, Jackie enjoys scuba diving, reading, yoga, and cookin&apos; up fancy foods with&nbsp;
      a(href='/levi')
        | her husband
      | .
