extends jackieLayout

block content
  section
    h1
      | Follow Jackie
    ul
      li
        a(href='http://linkedin.com/pub/jacqueline-lindsey/1a/5a7/533', target='_blank')
          | LinkedIn
      li
        a(href='https://facebook.com/jackie.schwartzstein', target='_blank')
          | Facebook
      li
        a(href='http://birdmam.mlml.calstate.edu/current-graduate-students-2/jacqueline-schwartzstein/', target='_blank')
          | Vertebrate Ecology Lab
      li
        a(href='http://mlmlblog.wordpress.com/', target='_blank')
          | The Drop-In to Moss Landing Marine Labs
