<!DOCTYPE html>
<html lang="en">
  <% var baseDir = '/home'; %>
  <% var cacheBuster = '.v1.0.2'; %>

  <head>
    <title>Welcome to Jackie and Levi's website!</title>
    <meta charset="utf-8">
    <meta name="description" content="Jackie and Levi Lindsey's personal website">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="<%= baseDir %>/images/favicon<%= cacheBuster %>.ico">
    <link rel="stylesheet" href="<%= baseDir %>/main<%= cacheBuster %>.css">
  </head>

  <body>
    <a id="ribbon"
       href="http://www.levi.codes/wedding/photos">
      <img src="<%= baseDir %>/images/wedding_photos_ribbon<%= cacheBuster %>.png"
           alt="Check out Jackie and Levi's wedding photos!">
    </a>

    <h1>Welcome to Jackie and Levi's website!</h1>

    <div id="venn"><img src="<%= baseDir %>/images/venn<%= cacheBuster %>.png"
                        alt="A Venn diagram of Jackie and Levi">

      <div id="jackieArea">
        <a id="jackie"
           href="/jackie"
           class="vennItem">
          <img src="<%= baseDir %>/images/jackie_face<%= cacheBuster %>.png"
               alt="Jackie's face">
          <h2>Visit Jackie's page</h2>
        </a>
      </div>

      <div id="usArea">
        <a id="wedding"
           href="http://www.levi.codes/wedding"
           class="vennItem">
          <img src="<%= baseDir %>/images/wedding_card<%= cacheBuster %>.png"
               alt="Wedding card">
          <h2>Visit our wedding page</h2>
        </a>
      </div>

      <div id="leviArea">
        <a id="levi"
           href="/levi"
           class="vennItem">
          <img src="<%= baseDir %>/images/levi_face<%= cacheBuster %>.png"
               alt="Levi's face">
          <h2>Visit Levi's page</h2>
        </a>

        <a id="squaredAway"
           href="http://www.levi.codes/squared-away"
           class="vennItem">
          <img src="<%= baseDir %>/images/squared_away_logo<%= cacheBuster %>.png"
               alt="Squared Away logo">
          <h2>Check out Levi's new web app!</h2>
        </a>
      </div>
    </div>

    <script><%= analyticsScript %></script>
  </body>
</html>