div(id='customPlayScreen', class='screen')
  hgroup
    h1(id='customPlayScreenHeader', class='screenTitle')
      | Custom Play
    h2.screenSubTitle
      | Change the game parameters with the controls below.
  img(id='customPlayScreenPlayGameButton', class='button', src='#{BASE_DIR}/images/play_game.png', alt='Play game button')
  img(id='customPlayMainMenuButton', class='button', src='#{BASE_DIR}/images/main_menu.png', alt='Main menu button')
